<!DOCTYPE html>
<html>
<head>
  <title>ConnectFour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://33.media.tumblr.com/81000de11d44dada8672a6760295ba12/tumblr_ncmep9ULYn1qzvun9o4_400.gif" style="padding:10px; transform: translateY(-10%);">
        <img  class="img-circle" alt="Brand" width="40" height="40" src="http://www.clker.com/cliparts/R/t/X/B/1/4/connect-four-md.png" style="background-color:#FFF;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li style="margin-top:16px; margin-left:20px; color:#FFF;"> signed in as: <%= current_user.username %> </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to "Profile", user_profile_path(current_user) %> </li>
          <li> <%= link_to "New Game", new_game_path %> 
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          </li>
        <% end %>
        <li> <%= link_to "Top Scores", user_profiles_path %></li>
        <li> <%= render 'devise/menu/registration_items' %> </li>
        <li> <%= render 'devise/menu/login_items' %> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true"> <%= notice %> </span>
</button>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <div class="alert alert-danger" role="alert">
    <span aria-hidden="true"> <%= alert %> </span>
    </div>
  </button>


<%= yield %>


<div class="row">
  <div class="col-md-12" style="height: 200px;">Footer!</div>
</div>
</body>
</html>
